{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Book Details Template -->
 <div class="card mt-4 mb-4 p-4 book-card">
<h1>{{ book.title }}</h1>
<img
    src="{{ book.details.cover_url }}"
    alt="{{ book.details.title }}"
    class="img-fluid mb-2 book-cover-img-lg"
><br>
<div class="card-body mt-3">
<p class="card-text"><strong>Title:</strong> {{ book.details.title }}</p>
<p class="card-text"><strong>Author:</strong> {{ book.details.author }}</p>
<p class="card-text"><strong>Price:</strong> ${{ book.price }}</p>
<p class="card-text"><strong>Genre:</strong> {{ book.details.genre }}</p>
<p class="card-text"><strong>Stock:</strong> {{ book.stock }}</p>
<p class="card-text"><strong>Description:</strong> {{ book.details.description_html }}</p>

{% if user.is_authenticated %}
    <a href="{% url 'add_to_cart' book.id %}" class="btn btn-success w-100 mb-2">
             Add to Cart
    </a>
{% endif %}
<a href="/books/" class="btn btn-secondary w-100 mb-2">Back</a>
</div>
</div>
{% endblock %}
